[submodule "panda"]
	path = panda
	url = ../../jwinarske/panda.git
        branch = jw/cmake
[submodule "opendbc"]
	path = opendbc
	url = ../../jwinarske/opendbc.git
        branch = jw/cmake
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
        branch = master
[submodule "cereal"]
	path = cereal
	url = ../../jwinarske/cereal.git
        branch = jw/cmake
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
        branch = master
